@model List<IP.Models.Table>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Style/StyleSheet.css" rel="stylesheet" />
<table class="TB_COLLAPSE">
    <caption>IPResult</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>IPaddr</th>
            <th>Time</th>
            <th>RiskLevel</th>
        </tr>
    </thead>
    @foreach (var pd in this.Model)
    {
        <tr>
            <td>@pd.Id</td>
            <td>@pd.IPAddr_F</td>
            <td>@pd.Time_F</td>
            <td>@pd.Result</td>
        </tr>
    }
</table>
<hr>
<button type="button" onclick="location.href='@Url.Action("index45","Result", new { id = ""})' ">Addr</button>
<button type="button" onclick="location.href='@Url.Action("index45","Result", new { id = "Time"})' ">Time</button>
<button type="button" onclick="location.href='@Url.Action("index45","Result", new { id = "Risk"})' ">Risk</button>
